.blog {
  @mixin image {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  &__image {
    &--sm {
      @include image;
      height: 200px;
    }

    &--md {
      @include image;
      height: 300px;
    }

    &--lg {
      @include image;
      height: 500px;
    }
  }
}

