<div class="sidebar__image">
  <img src="https://104101110114121.s3.us-east-2.amazonaws.com/images/me.jpeg">
</div>
<div class="sidebar__title">
  <a href="/beta">
    <h1>Henry Harris</h1>
  </a>
</div>
<div class="sidebar-nav">
  <a href="/beta/experience" class="sidebar-nav__link">Experience</a>
  <a href="/beta/projects" class="sidebar-nav__link">Projects</a>
  <a href="/beta/blog" class="sidebar-nav__link">Blog</a>
</div>
<div class="sidebar-footer--desktop">
  <div class="sidebar-social">
    <a href="https://henryharr.is/resume.pdf" class="sidebar-social__icon">
      <i class="far fa-file-pdf"></i>
    </a>
    <a href="mailto:mail@henryharr.is" class="sidebar-social__icon">
      <i class="far fa-envelope"></i>
    </a>
    <a href="https://github.com/dummycode" class="sidebar-social__icon">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/henrythomasharris" class="sidebar-social__icon">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <div class="sidebar-footer--desktop__message">
  </div>
</div>
