.body {
  display: relative;
  margin-left: 35%;
  margin-right: 5%;

  @include md-down {
    margin: 0 5%;
    padding-top: 25vh;
  }
}

.section {
  height: 50vh;
  padding: 1em 0;
  border-bottom: solid $green;
  border-width: 2px;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
  }
}
