.body {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  margin-right: 5%;
  flex: 1;

  @include md-down {
    margin: 0 5%;
    padding-top: 376px;
  }
}

.section {
  height: 50vh;
  border-bottom: solid $light_gray;
  border-width: 2px;
  overflow: hidden;
  padding-top: 30px;

  &:last-child {
    border-bottom: none;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;

    @include md-down {
      font-size: 40px;
    }
  }

  &--experience {
    height: 30vh;

    &__title {
      font-size: 24px;

      &--bnr {
        color: $bnr_color;
      }

      &--sl {
        color: $sl_color;
      }

      &--tech {
        color: $tech_color;
      }
    }

    &__location {
      color: $gray;
      margin-top: 4px;
    }

    &__job {
      color: $gray;
    }
  }
}
