$lightest_gray: #FAFAFA;
$light_gray: #F5F5F5;
$gray: #BDBDBD;
$light_blue_gray: #ECEFF1;
$lightest_blue: #E3F2FD;
$light_blue: #90CAF9;
$blue: #64B5F6;
$darkest_gray: #212121;
$light_brown: #D7CCC8;
$green: #81C784;
$bnr_color: #e38d39;
$sl_color: #5bb347;
$tech_color: #B3A369;
$nedzas_color: #81DECD;
