html {
  scroll-behavior: smooth;
}

body {
  color: $darkest_gray;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  line-height: 1.2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;

    @include sm-down {
      font-size: 56px;
    }
  }

  p {
    font-size: 24px;

    @include sm-down {
      font-size: 32px;
    }
  }

  a {
    color: $blue;
    text-decoration: none;
  }

  a:active {
    color: $blue;
  }

  a:hover {
    color: $blue;
    text-decoration: none;
  }
}
