.blog-list {
  &__date {
    color: $gray;
  }

  &__tag {
    border-radius: 1em;
    padding: 0 10px;
    margin-left: 5px;
    color: white;

    &--tech {
      background-color: $red;
      &::before {
        content: "tech";
      }
    }

    &--fun {
      background-color: $green;
      &::before {
        content: "fun";
      }
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    padding-top: 10px;
    list-style-type: none;

    &:first-child {
      padding-top: 0;
    }

    a {
      color: black;
    }

    a:hover {
      color: black;
    }
  }
}

.blog-header {
  &__date {
    color: $gray;
  }
}

.blog-content {
  margin-top: 20px;

  &__image {
    &--inline {
      display: block;
      width: 50%;
      margin: auto;
      border-radius: 5px;
    }
  }

  &__image-caption {
    display: block;
    width: 50%;
    margin: auto;
    font-size: 0.75rem;
    text-align: center;
  }

  p {
    margin-bottom: 20px;
  }
}
