.body {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  margin-right: 5%;
  flex: 1;
  padding-top: 60px;
  padding-bottom: 60px;

  @include md-down {
    margin: 0 5%;
    padding-top: 406px;
  }
}

.section {
  height: auto;
  border-bottom: solid $lighter_gray;
  border-width: 2px;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 60px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;

    @include md-down {
      font-size: 40px;
    }
  }

  p {
    margin-bottom: 10px;
  }

  @include md-down {
    height: auto;
    min-height: 30vh;
  }
}
