$lightest_gray: #fafafa;
$lighter_gray: #f5f5f5;
$light_gray: #eeeeee;
$gray: #bdbdbd;
$light_blue_gray: #eceff1;
$lightester_blue: #f3f9fe;
$lightest_blue: #e3f2fd;
$light_blue: #90caf9;
$blue: #64b5f6;
$darkest_blue: #253951;
$darkest_gray: #212121;
$light_brown: #d7ccc8;
$red: #f44336;
$light_red: #e57373;
$green: #81c784;

$sfdc_color: #00a1e0;
$bnr_color: #ba6729;
$sl_color: #5bb347;
$tech_color: #b3a369;
$nedzas_color: #ff796e;

$color_js: #ffeb3b;
$color_css: #4caf50;
$color_html: #2196f3;
$color_python: #ff9800;
$color_c: #795548;

$font_color: #424242;
