.section {
  &--experience {
    @include md-down {
      min-height: 15vh;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 24px;

      &--sfdc {
        color: $sfdc_color;
      }

      &--bnr {
        color: $bnr_color;
      }

      &--sl {
        color: $sl_color;
      }

      &--tech {
        color: $tech_color;
      }

      &--nedzas {
        color: $nedzas_color;
      }
    }

    &__location {
      color: $gray;
      margin-top: 4px;
    }

    &__job {
      color: $gray;
      margin-bottom: 0.5rem;
    }

    &__description {
      padding-top: 5px;
      margin-bottom: 0;
    }

    &__bullets {
      padding-top: 5px;
      margin-bottom: 0;
      padding-left: 20px;
      list-style-position: outside;
      list-style-type: square;

      li {
        margin-top: 5px;

        &:first-child {
          padding-top: 0;
        }
      }

      @include md-down {
        font-size: 24px;
        padding-left: 1.5rem;
      }
    }
  }
}
