html {
  scroll-behavior: smooth;
}

body {
  color: $darkest_gray;
  font-family: "Source Code Pro", monospace;
  line-height: 1.2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
  }

  p {
    font-size: 1.25rem;
    margin: 0;

    @include md-down {
      font-size: 1.5rem;
    }
  }

  a {
    color: $light_red;
    text-decoration: none;

    &:active {
      color: $light_red;
    }

    &:hover {
      color: $light_red;
      text-decoration: none;
    }
  }
}

.hidden {
  display: none;
}
