.paceUnit, .splitUnit, .distanceUnit {
    &.selected {
        color: blue;
    }
}

#pace-form {
    input {
        width: 5rem;
        text-align: right;
        padding-right: 1rem;
    }

    .timeUnit {
        margin-left: -1rem;
    }
}

