<div class=projects-list__list>
  <ul>
    <li>
      <h2>Quick Queue</h2>
      <p>Queueing system used in Georgia Tech's College of Computing office hours</p>
    </li>
    <li>
      <h2>My Website</h2>
      <p>Queueing system used in Georgia Tech's College of Computing office hours</p>
    </li>
  </ul>
</div>
