<div class=projects-list__list>
  <ul>
    <li>
      <h3>Quick Queue</h3>
      <p>Queueing system used in Georgia Tech's College of Computing office hours</p>
    </li>
    <li>
      <h3>My Website</h3>
      <p>Queueing system used in Georgia Tech's College of Computing office hours</p>
    </li>
  </ul>
</div>
