<div class="project-card__container project-card__container--dino">
  <h3 class="project-card__title"><a href="https://github.com/dummycode/cubefield">Cubefield</a></h2>
  <p class="project-card__description">An AI trained to play Cubefield through deep reinforcement learning.</p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--python">Python</span>
  </div>
</div>
