<div class="project-card__container project-card__container--museum-mayhem">
  <h3 class="project-card__title">
    <a href="/projects/my-website">Museum Mayhem</a>
  </h2>
  <p class="project-card__description">
    Minimalistic PHP app that 
  </p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--js">PHP</span>
    <span class="language-tag language-tag--html">HTML</span>
  </div>
</div>
