<div class="project-card__container project-card__container--pace">
  <h1 class="project-card__title"><a href="/projects/pace">Pace Calculator</a></h1>
  <p class="project-card__description">
    Calculate how fast you need to run to set a new PR.
  </p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--html">HTML</span>
    <span class="language-tag language-tag--js">JavaScript</span>
  </div>
</div>
