<div class="project-card__container project-card__container--rustos">
    <h1 class="project-card__title"><a href="https://github.com/dummycode/plate_mate">Plate Mate</a></h1>
    <p class="project-card__description">
        iOS Application to keep track of license plates you have seen.
    </p>
    <div class="project-card__languages">
        <span class="language-tag language-tag--swift">Swift</span>
    </div>
</div>
