<div class="project-card__container project-card__container--quick-queue">
  <h2 class="project-card__title"><a href="https://github.com/dummycode/quick-queue">Quick Queue</a></h2>
  <p class="project-card__description">
    A Node.js backed API for queueing sytems used in Georgia Tech's College of Computing office hours.
  </p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--js">JavaScript</span>
    <span class="language-tag language-tag--html">HTML</span>
    <span class="language-tag language-tag--css">CSS</span>
  </div>
</div>
