<div class="project-card__container project-card__container--rustos">
    <h1 class="project-card__title"><a href="https://github.com/dummycode/rustos">RustOS</a></h1>
    <p class="project-card__description">
        An Operating System for Raspberry Pi 3 B+ written in Rust.
    </p>
    <div class="project-card__languages">
        <span class="language-tag language-tag--rust">Rust</span>
        <span class="language-tag language-tag--c">C</span>
    </div>
</div>
