<div class="project-card__container project-card__container--w2g">
    <h1 class="project-card__title"><a href="https://github.com/dummycode/w2g_playground">W2G Playground</a></h1>
    <p class="project-card__description">
        Proof of concept application to aid the warehouse picking process developed for the Vuzix M400 Smart Glasses.
    </p>
    <div class="project-card__languages">
        <span class="language-tag language-tag--java">Java</span>
    </div>
</div>
