<div class="project-card__container project-card__container--warranty">
  <h1 class="project-card__title"><a href="https://github.com/slantedtable/warranty">Warranty Countdown</a></h1>
  <p class="project-card__description">A React Native app designed to aid homeowners and small business owners in tracking warranties.</p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--js">JavaScript</span>
  </div>
</div>
