<div class="sidebar-social">
<a href="https://henryharr.is/resume.pdf" class="sidebar-social__icon">
  <i class="far fa-file-pdf"></i>
</a>
<a href="mailto:mail@henryharr.is" class="sidebar-social__icon">
  <i class="far fa-envelope"></i>
</a>
<a href="https://github.com/dummycode" class="sidebar-social__icon">
  <i class="fab fa-github"></i>
</a>
<a href="https://twitter.com/its_hth" class="sidebar-social__icon">
  <i class="fab fa-twitter"></i>
</a>
<a href="https://www.strava.com/athletes/20856911" class="sidebar-social__icon">
  <i class="fab fa-strava"></i>
</a>
<a href="https://linkedin.com/in/henrythomasharris" class="sidebar-social__icon">
  <i class="fab fa-linkedin-in"></i>
</a>
</div>
<div class="sidebar-footer--mobile__message">
</div>
