<div class="project-card__container project-card__container--dino">
  <h3 class="project-card__title"><a href="/projects/dino">Dino</a></h3>
  <p class="project-card__description">My <strike>worse</strike> version of Google Chrome's offline dinosaur game – programmed in C for the Nitendo GameBoy Advance (GBA).</p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--c">C</span>
  </div>
</div>
