<div class="project-card__container project-card__container--my-website">
  <h3 class="project-card__title">
    <a href="/projects/my-website">My Website <i class="fas fa-external-link-alt"></i></a>
  </h3>
  <p class="project-card__description">
    How ironic, showcasing my website on my website. Pretty vanilla, preprocessed stylesheets using <a href="https://sass-lang.com/">Sass</a> and precompiled HTML templates with <a href="https://handlebarsjs.com/">Handlebars</a>.
  </p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--js">JavaScript</span>
    <span class="language-tag language-tag--html">HTML</span>
    <span class="language-tag language-tag--css">CSS</span>
  </div>
</div>
