<div class="project-card__container project-card__container--sms">
  <h3 class="project-card__title"><a href="/projects/quick-queue">SMS</a></h3>
  <p class="project-card__description">
    A system to store contacts and send mass text messages via Twilio.
  </p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--js">JavaScript</span>
    <span class="language-tag language-tag--html">HTML</span>
    <span class="language-tag language-tag--css">CSS</span>
  </div>
</div>
