<div class="project-card__container project-card__container--westbrook">
  <h3 class="project-card__title"><a href="/projects/westbrook">Is Westbrook Averaging A Triple Double?</a></h3>
  <p class="project-card__description">
    Want to see if Russell Westbrook is currently averaging a triple double? Just visit <a href="http://iswestbrookaveragingatripledouble.com">iswestbrookaveragingatripledouble.com</a> for a quick yes/no answer. Data fetched from ESPN after every game.
  </p>
  <div class="project-card__languages">
    <span class="language-tag language-tag--python">Python</span>
    <span class="language-tag language-tag--html">HTML</span>
    <span class="language-tag language-tag--js">JavaScript</span>
  </div>
</div>
